<div class="alert alert-block alert-info">
<center>PROJETO I</center>
<center>ALUNO: Emilieny De Souza Silva</center>
</div>

In [1]:
import numpy as np
import pandas as pd
import datetime as dt

<div class="alert alert-block alert-info">
TAREFA 1   
</div>

In [2]:

df2018 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/MaC6cieXSFACNWT/download", compression='zip', encoding = 'latin1', sep=';')
df2019 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/kRBUylqz6DyQznN/download", compression='zip', encoding = 'latin1', sep=';')
df2020 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/jdDLrQIf33xXSCe/download", compression='zip', encoding = 'latin1', sep=';')
df2021 = pd.read_csv("https://arquivos.prf.gov.br/arquivos/index.php/s/n1T3lymvIdDOzzb/download", compression='zip', encoding = 'latin1', sep=';')

todos_anos = pd.concat([df2018, df2019, df2020, df2021], ignore_index=True)

**Sim, através do comando .read_csv(), que lê os dados diretamente do site, com a ajuda dos parametros compression, encoding e sep.**

<div class="alert alert-block alert-info">
TAREFA 2
</div>

<div class="alert alert-block alert-info">
Letra A
</div>

In [3]:
acidentes2018 = len(df2018["id"])
acidentes2019 = len(df2019["id"])
acidentes2020 = len(df2020["id"])
acidentes2021 = len(df2021["id"])

**Em 2018 aconteceram 69295 acidentes**

**Em 2019 aconteceram 67446 acidentes**

**Em 2020 aconteceram 63548 acidentes**

**Em 2021 aconteceram 64515 acidentes**

<div class="alert alert-block alert-info">
Letra B
</div>

In [4]:
todos_anos

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,99973.0,2018-01-01,segunda-feira,00:20:00,RJ,116.0,"303,5",RESENDE,Condutor Dormindo,Saída de leito carroçável,...,4,1,0,4,1,"-22,46937","-44,44705",SR-RJ,DEL5/7,UOP03/RJ
1,99976.0,2018-01-01,segunda-feira,00:40:00,SC,282.0,"0,4",FLORIANOPOLIS,Não guardar distância de segurança,Colisão traseira,...,2,1,0,2,2,"-27,59971687","-48,57565694",SR-SC,DEL8/1,UOP01/SC
2,99977.0,2018-01-01,segunda-feira,00:30:00,RJ,493.0,1,ITABORAI,Ultrapassagem Indevida,Colisão frontal,...,0,3,1,1,3,"-22,763901","-42,927532",SR-RJ,DEL5/4,UOP02/RJ
3,99981.0,2018-01-01,segunda-feira,01:15:00,RS,386.0,134,SARANDI,Ingestão de Álcool,Colisão transversal,...,0,2,0,0,2,"-27,953636","-52,916374",SR-RS,DEL9/14,UOP01/RS
4,99982.0,2018-01-01,segunda-feira,00:20:00,RS,293.0,"151,7",CANDIOTA,Falta de Atenção à Condução,Saída de leito carroçável,...,1,0,0,1,1,"-31,395214","-53,78391174",SR-RS,DEL9/11,UOP03/RS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264799,425426.0,2021-05-13,quinta-feira,03:15:00,MG,381.0,"775,3",CAMPANHA,Condutor deixou de manter distância do veículo...,Colisão traseira,...,0,2,0,2,2,-21.790183,-45.446659,SR-MG,UOP02,DEL16
264800,425436.0,2021-11-15,segunda-feira,23:00:00,PA,10.0,"248,4",AURORA DO PARA,Transitar na contramão,Colisão transversal,...,1,1,0,2,2,-2.267754,-47.563084,SR-PA,UOP01,DEL02
264801,428107.0,2021-09-21,terça-feira,01:10:00,MG,50.0,20,ARAGUARI,Condutor Dormindo,Colisão com objeto,...,2,1,0,7,1,-18.58721,-48.056456,SR-MG,UOP02,DEL15
264802,435016.0,2021-12-29,quarta-feira,13:40:00,AC,364.0,170,BUJARI,Pista esburacada,Queda de ocupante de veículo,...,1,0,0,1,1,-9.766854,-68.056811,SR-AC,UOP01,DEL01
264803,441173.0,2021-08-22,domingo,17:10:00,MT,364.0,498,JANGADA,Reação tardia ou ineficiente do condutor,Colisão traseira,...,0,1,0,1,2,-15.263832,-56.455487,SR-MT,UOP02,DEL01

**Como existem 30 colunas, então existem 30 variáveis.**

<div class="alert alert-block alert-info">
Letra C
</div>

In [5]:
ocorrencias = df2018.groupby(["municipio"]).size()
ocorrencias2018 = pd.DataFrame(data = ocorrencias)
ocorrencias2018["ocorrencias"] = ocorrencias2018
del ocorrencias2018[0]
ocorrencias2018.sort_values(by = "ocorrencias", ascending = False)

                       ocorrencias
municipio
CURITIBA                      1019
SAO JOSE                       874
BRASILIA                       867
GUARULHOS                      755
PALHOCA                        688
...                            ...
SAO JOSE DO NORTE                1
SAO JOSE DOS AUSENTES            1
CONCEICAO DAS ALAGOAS            1
COLORADO                         1
LAJES PINTADAS                   1

[1781 rows x 1 columns]

**As cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais em 2018 foram respectivamente: Curitiba, São Jose, Brasília, Guarulhos e Palhoca.**

In [6]:
ocorrencias = df2019.groupby(["municipio"]).size()
ocorrencias2019 = pd.DataFrame(data = ocorrencias)
ocorrencias2019["ocorrencias"] = ocorrencias2019
del ocorrencias2019[0]
ocorrencias2019.sort_values(by = "ocorrencias", ascending = False)

                 ocorrencias
municipio
CURITIBA                1094
BRASILIA                1090
SAO JOSE                 819
GUARULHOS                717
SERRA                    633
...                      ...
MACURURE                   1
SAGRADA FAMILIA            1
RUY BARBOSA                1
CACHOEIRA                  1
ZE DOCA                    1

[1767 rows x 1 columns]

**As cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais em 2019 foram respectivamente: Curitiba, Brasília, São Jose, Guarulhos e Serra.**

In [7]:
ocorrencias = df2020.groupby(["municipio"]).size()
ocorrencias2020 = pd.DataFrame(data = ocorrencias)
ocorrencias2020["ocorrencias"] = ocorrencias2020
del ocorrencias2020[0]
ocorrencias2020.sort_values(by = "ocorrencias", ascending = False)

                    ocorrencias
municipio
BRASILIA                   1040
CURITIBA                    950
GUARULHOS                   639
SAO JOSE                    629
PALHOCA                     593
...                         ...
IVINHEMA                      1
MONCAO                        1
MONSENHOR HIPOLITO            1
PLACIDO DE CASTRO             1
SILVEIRAS                     1

[1789 rows x 1 columns]

**As cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais em 2020 foram respectivamente: Brasília, Curitiba, Guarulhos, São Jose e Palhoca.**

In [8]:
ocorrencias = df2021.groupby(["municipio"]).size()
ocorrencias2021 = pd.DataFrame(data = ocorrencias)
ocorrencias2021["ocorrencias"] = ocorrencias2021
del ocorrencias2021[0]
ocorrencias2021.sort_values(by = "ocorrencias", ascending = False)

                 ocorrencias
municipio
BRASILIA                 981
CURITIBA                 899
SAO JOSE                 689
GUARULHOS                670
PALHOCA                  609
...                      ...
JOSE DA PENHA              1
SANTO ANGELO               1
CORONEL JOAO SA            1
GUAMARE                    1
AURORA                     1

[1791 rows x 1 columns]

**As cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais em 2021 foram respectivamente: Brasília, Curitiba, São Jose, Guarulhos e Palhoca.**

In [9]:
ocorrencias = todos_anos.groupby(["municipio"]).size()
ocorrencias_todos_anos = pd.DataFrame(data = ocorrencias)
ocorrencias_todos_anos["ocorrencias"] = ocorrencias_todos_anos
del ocorrencias_todos_anos[0]
ocorrencias_todos_anos.sort_values(by = "ocorrencias", ascending = False)

                      ocorrencias
municipio
BRASILIA                     3978
CURITIBA                     3962
SAO JOSE                     3011
GUARULHOS                    2781
PALHOCA                      2496
...                           ...
RIO PRETO DA EVA                1
TIROS                           1
TOCANTINOPOLIS                  1
BOQUEIRAO DO PIAUI              1
SAO MIGUEL DAS MATAS            1

[1974 rows x 1 columns]

**E por fim, as cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais durante os anos de 2018, 2019, 2020 e 2021 foram respectivamente: Brasília, Curitiba, São Jose, Guarulhos e Palhoca.**

<div class="alert alert-block alert-info">
Letra D
</div>

In [10]:
feridos_PB_2019 = df2019[(df2019.feridos_graves > 0) & (df2019.uf == "PB")]

len(feridos_PB_2019)

414

**Aconteceram 414 acidentes na Paraíba em 2019.**

<div class="alert alert-block alert-info">
TAREFA 3
</div>

<div class="alert alert-block alert-info">
Letra A
</div>

In [11]:
ranking_estado = todos_anos.groupby(["uf"]).size()
ranking_estado = ranking_estado.reset_index().rename(columns = {0: "Acidentes", "uf": "UF"})
ranking_estado = ranking_estado.sort_values(by = "Acidentes", ascending = False, ignore_index = True)
ranking_estado.index = np.arange(1, len(ranking_estado)+1)
ranking_estado.to_csv("ranking_acidentes_por_estado.csv")
ranking_estado

    UF  Acidentes
1   MG      34483
2   SC      32034
3   PR      30185
4   RJ      17982
5   RS      17754
6   SP      17236
7   BA      13793
8   GO      13233
9   PE      10566
10  ES      10543
11  MT       9101
12  CE       6505
13  MS       6147
14  RO       6067
15  PB       5993
16  RN       5527
17  PI       5057
18  MA       4631
19  DF       3978
20  PA       3884
21  AL       2528
22  SE       2255
23  TO       2205
24  AC       1044
25  RR        991
26  AP        626
27  AM        456

<div class="alert alert-block alert-info">
Letra B
</div>

In [12]:
ranking_dia = todos_anos.groupby(["dia_semana"]).size()
ranking_dia = ranking_dia.reset_index().rename(columns = {0: "Acidentes", "dia_semana": "Dia"})
ranking_dia = ranking_dia.sort_values(by = "Acidentes", ascending = False, ignore_index = True)
ranking_dia.index = np.arange(1, len(ranking_dia)+1)
ranking_dia.to_csv("ranking_acidentes_por_dia.csv")
ranking_dia

             Dia  Acidentes
1         sábado      43872
2        domingo      43816
3    sexta-feira      40945
4  segunda-feira      35712
5   quinta-feira      34471
6   quarta-feira      33347
7    terça-feira      32641

<div class="alert alert-block alert-info">
TAREFA 4
</div>

<div class="alert alert-block alert-info">
Letra A
</div>

In [13]:
causas = todos_anos.groupby(["causa_acidente"]).size()
causas = causas.reset_index().rename(columns = {0: "Quantidade", "causa_acidente": "Causa"})
causas = causas.sort_values(by = "Quantidade", ascending = False)
causas.index = np.arange(1, len(causas)+1)

In [14]:
causas

                                                Causa  Quantidade
1                         Falta de Atenção à Condução       73231
2                             Velocidade Incompatível       25505
3   Desobediência às normas de trânsito pelo condutor       24089
4                                  Ingestão de Álcool       15689
5                  Não guardar distância de segurança       12082
..                                                ...         ...
82                               Semáforo com defeito           8
83                               Modificação proibida           8
84                                Participar de racha           7
85                    Sistema de drenagem ineficiente           3
86                              Sinalização encoberta           3

[86 rows x 2 columns]

**Como podemos ver no DataFrame, a causa mais frenquente de acidentes é Falta de atenção à condução, e a causa mais rara é a Sinalização encoberta.**

<div class="alert alert-block alert-info">
Letra B
</div>

**2018**

In [15]:
df2018["Mês"] = pd.to_datetime(df2018["data_inversa"]).dt.month
mes2018 = df2018.loc[:, ["Mês", "pessoas", "ilesos", "feridos_graves"]]
soma = mes2018.groupby(by = "Mês").sum()
proporcao = (soma["ilesos"]/ soma["pessoas"])
feridos = (soma["feridos_graves"]/ soma["pessoas"])
proporcão_ilesos_e_feridos_graves2018 = pd.DataFrame([proporcao, feridos], index = ["Pessoas ilesas", "Feridos graves"]).round(2).transpose()
proporcão_ilesos_e_feridos_graves2018

     Pessoas ilesas  Feridos graves
Mês
1              0.51            0.09
2              0.50            0.09
3              0.48            0.10
4              0.43            0.11
5              0.42            0.11
6              0.43            0.12
7              0.44            0.11
8              0.43            0.11
9              0.42            0.12
10             0.43            0.11
11             0.43            0.12
12             0.43            0.11

**2019**

In [16]:
df2019["Mês"] = pd.to_datetime(df2019["data_inversa"]).dt.month
mes2019 = df2019.loc[:, ["Mês", "pessoas", "ilesos", "feridos_graves"]]
soma = mes2019.groupby(by = "Mês").sum()
proporcao = (soma["ilesos"]/ soma["pessoas"])
feridos = (soma["feridos_graves"]/ soma["pessoas"])
proporcão_ilesos_e_feridos_graves2019 = pd.DataFrame([proporcao, feridos], index = ["Pessoas ilesas", "Feridos graves"]).round(2).transpose()
proporcão_ilesos_e_feridos_graves2019

     Pessoas ilesas  Feridos graves
Mês
1              0.42            0.11
2              0.42            0.11
3              0.43            0.11
4              0.42            0.11
5              0.42            0.12
6              0.42            0.12
7              0.44            0.12
8              0.41            0.12
9              0.42            0.11
10             0.42            0.12
11             0.43            0.11
12             0.42            0.11

**2020**

In [17]:
df2020["Mês"] = pd.to_datetime(df2020["data_inversa"]).dt.month
mes2020 = df2020.loc[:, ["Mês", "pessoas", "ilesos", "feridos_graves"]]
soma = mes2020.groupby(by = "Mês").sum()
proporcao = (soma["ilesos"]/ soma["pessoas"])
feridos = (soma["feridos_graves"]/ soma["pessoas"])
proporcão_ilesos_e_feridos_graves2020 = pd.DataFrame([proporcao, feridos], index = ["Pessoas ilesas", "Feridos graves"]).round(2).transpose()
proporcão_ilesos_e_feridos_graves2020

     Pessoas ilesas  Feridos graves
Mês
1              0.42            0.11
2              0.42            0.11
3              0.40            0.11
4              0.38            0.12
5              0.40            0.12
6              0.42            0.12
7              0.42            0.11
8              0.42            0.12
9              0.42            0.12
10             0.41            0.12
11             0.41            0.12
12             0.41            0.12

**2021**

In [18]:
df2021["Mês"] = pd.to_datetime(df2021["data_inversa"]).dt.month
mes2021 = df2021.loc[:, ["Mês", "pessoas", "ilesos", "feridos_graves"]]
soma = mes2021.groupby(by = "Mês").sum()
proporcao = (soma["ilesos"]/ soma["pessoas"])
feridos = (soma["feridos_graves"]/ soma["pessoas"])
proporcão_ilesos_e_feridos_graves2021 = pd.DataFrame([proporcao, feridos], index = ["Pessoas ilesas", "Feridos graves"]).round(2).transpose()
proporcão_ilesos_e_feridos_graves2021

     Pessoas ilesas  Feridos graves
Mês
1              0.43            0.11
2              0.41            0.12
3              0.41            0.11
4              0.41            0.12
5              0.42            0.12
6              0.43            0.11
7              0.43            0.11
8              0.42            0.12
9              0.42            0.12
10             0.41            0.12
11             0.43            0.12
12             0.42            0.11

<div class="alert alert-block alert-info">
Letra C
</div>

In [19]:
antes_da_pandemia = len(pd.concat([df2018, df2019]))
durante_a_pandemia = len(pd.concat([df2020, df2021]))
antes = antes_da_pandemia/2
durante = durante_a_pandemia/2

diferencia_antes_e_durante = antes - durante

In [20]:
media_incidentes = pd.DataFrame([antes, durante], index = ["Antes da pandemia", "Durante a pandemia"]).rename(columns = {0: "Média de incidentes"})
media_incidentes

                    Média de incidentes
Antes da pandemia               68370.5
Durante a pandemia              64031.5

**Como podemos ver, ouve uma diminuição na incidência de acidentes nas rodovias federais durante a pandemia.**